#include <zephyr/dt-bindings/led/led.h>
#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	aliases {
		led-strip = &led_strip;

	};

	wire_sens: wire-sensor {
		compatible = "zephyr,w1-gpio";
		gpios = <&gpio1 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
		status = "okay";

		temp_sens: temp-sensor {
			compatible = "maxim,ds18b20";
			family-code = <0x28>;
			resolution = <12>;
		};

	};


	humidity_sens: humidity-sensor {
		compatible = "aosong,dht";
		status = "okay";
		dio-gpios = <&gpio0 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		
	};


	light_sens: zephyr,user {
		io-channels = <&adc0 7>;
	};

};

&i2s0_default {
	group1 {
		pinmux = <I2S0_O_SD_GPIO48>;
	};
};


		
&adc0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@7{
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_4";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};




i2s_led: &i2s0 {
	status = "okay";

	dmas = <&dma 3>;
	dma-names = "tx";

	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-i2s";

		reg = <0>;
		chain-length = <1>;
		color-mapping = <LED_COLOR_ID_GREEN
				 LED_COLOR_ID_RED
				 LED_COLOR_ID_BLUE>;
		reset-delay = <500>;
	};
};

&dma {
	status = "okay";
};
